### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
/vendor/

### IDE
.idea/

### Wordpress
/cms/*
!/cms/.gitkeep
/src/plugins
/src/themes/themosis-theme


### Environment Credentials
.env.*.php
!.env.local.php