### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
/vendor/

### IDE
.idea/

### Wordpress
/cms/*
!/cms/.gitkeep
/src/*
!/src/themes/*

### Environment Credentials
.env.*.php
!.env.local.php