### Miscellaneous
.DS_Store
Thumbs.db
.htaccess

### Composer
composer.lock
/vendor/

### IDE
.idea/

### Wordpress
/cms/*
!/cms/.gitkeep
/src/plugins
/src/languages
/src/uploads/*
!/src/uploads/.gitkeep
/src/themes/themosis-theme


### Environment Credentials
.env.*.php